<ion-header>
  <ion-navbar>
    <ion-row class="navbar-items">
      <ion-col class="col-close-session">
        <ion-icon class="icon-close-session" ios="ios-log-in" md="md-log-in" tappable (click)="goTologOut()"></ion-icon>
      </ion-col>
      <ion-col class="col-title">
        <ion-title class="title-name">TIR</ion-title>
      </ion-col>
      <ion-col class="col-pending-revisions">
        <ion-icon class="icon-pending-revisions" name="list" tappable (click)="presentPendingRevisionModal()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-navbar>
  <ion-item style="width: 100%" no-lines>
    <ion-label>Seleccione una Naviera</ion-label>
    <ion-select interface="popover" [(ngModel)]="params.type" id="shipper">
      <ion-option (ionSelect)="formService.cleanDetails()" value="Gash">Gash</ion-option>
      <ion-option (ionSelect)="formService.cleanDetails()" value="NYK">NYK</ion-option>
      <ion-option (ionSelect)="formService.cleanDetails()" value="Evergreen">Evergreen</ion-option>
    </ion-select>
  </ion-item>
</ion-header>
<ion-content padding id="revision-page">
  <ion-tabs tabsPlacement="top" id="tabs">
    <ion-tab [rootParams]="params" [root]="tabRevisionPage" tabTitle="Formulario"></ion-tab>
    <ion-tab [rootParams]="params" [root]="tabDamagePage" tabTitle="Daños"></ion-tab>
  </ion-tabs>
</ion-content>
<ion-footer id="footer-contaner-buttons">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button full round (click)="saveRevision()" id="save-revision-button">Finalizar Revisión</button>
        </ion-col>
        <ion-col>
          <button ion-button full round id="add-revision-pending" (click)="addPending()">Añadir a Pendientes</button>
        </ion-col>
        <ion-col>
          <button ion-button full round (click)="goToPreview()" id="preview-page">Vista Previa</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>