<ion-content padding id="login-page">
  <ion-item id="login-container" no-lines>
    <ion-grid>
      <ion-row>
        <ion-col class="col-xs-1">
          <img class="logo-gash-white" src="../../assets/imgs/logo-gash-white.png"/>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="inputs-wrapper">
          <i class="icon"><ion-icon class="icon-person" name="person"></ion-icon></i>
          <input class="input-data" type="text" placeholder="Usuario" [(ngModel)]="username"/>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="inputs-wrapper">
          <i class="icon"><ion-icon class="icon-key" name="key"></ion-icon> </i>
          <input class="input-data" type="password" placeholder="Contraseña" [(ngModel)]="password"/>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="sign-in-button-wrapper" center text-center>
          <button [disabled]="loading" type="submit" class="sign-in-button" (click)="login()" ion-button round>Iniciar Sesión</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>