<ion-header>
  <ion-navbar>
    <ion-item id="damage-list" no-lines>
      <ion-label class="label-name">Manejo de daños</ion-label>
      <ion-select interface="popover" class="common-select selected-damage" [(ngModel)]="selectedDamage">
        <ion-option *ngFor="let damage of formDamages" [value]="damage">{{ damage.name }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-navbar>
</ion-header>
<ion-content id="wrapper">
  <ion-list>
    <ion-row align-items-center justify-content-center class="canvas">
      <canvas #imageCanvas flex></canvas>
    </ion-row>
  </ion-list>
  <ion-list>
    <ion-row align-items-left class="primary-container" no-lines>
      <ion-label class="damage-list-label">Lista de Daños</ion-label>
    </ion-row>
    <ion-row *ngFor="let dmg of damagesList" align-items-center class="damage-container">
      <ion-col class="damage-label">
        <label>{{ dmg.damage.name }}</label>
      </ion-col>
      <ion-col class="damage-button">
        <button ion-button (click)="deleteDamage(dmg)" color="danger">
          <ion-icon name="close" class="damage-icon"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
<ion-footer id="damage-selection-footer" class="footer-background">
  <ion-row class="row">
    <ion-col class="footer-button-container" align-self-center>
      <button class="footer-button" ion-button color="light" (click)="saveDamages(false)">Salir</button>
    </ion-col>
    <ion-col class="footer-button-container" align-self-center>
      <button class="footer-button" (click)="saveDamages(true)" ion-button color="light">Guardar</button>
    </ion-col>
  </ion-row>
</ion-footer>