<ion-content padding>
  <form [formGroup]="revisionForm">
    <ion-item class="app-container" no-lines>
      <ion-label class="title">Formulario {{ shipperName.type }}</ion-label>
    </ion-item>
    <ion-item class="form-group bordered-input" no-lines>
      <ion-label>Código de contenedor</ion-label>
      <ion-input class="form-control" name="code" formControlName="containerCode" type="text" placeholder="Ej: 336271"
        maxlength="20" required></ion-input>
      <ion-label class="warning-empty-space" *ngIf="revisionForm.controls.containerCode.touched && !revisionForm.controls.containerCode.valid">
        Este campo es requerido
      </ion-label>
    </ion-item>
    <ion-item class="app-container" no-lines>
      <ion-label>Detalles del Shipping</ion-label>
    </ion-item>
    <ion-row radio-group formControlName="shippingDetail">
      <ion-col class="bordered-input">
        <ion-row ion-item no-lines>
          <ion-label>Vacío</ion-label>
          <ion-radio value="Vacío"></ion-radio>
        </ion-row>
      </ion-col>
      <ion-col class="bordered-input">
        <ion-row ion-item no-lines>
          <ion-label>Cargado</ion-label>
          <ion-radio value="Cargado"></ion-radio>
        </ion-row>
      </ion-col>
      <ion-col class="bordered-input" *ngIf="shipperName.type == 'Gash'">
        <ion-row ion-item no-lines>
          <ion-label>Sólo Chasis</ion-label>
          <ion-radio value="Sólo chasis"></ion-radio>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row radio-group formControlName="shipping">
      <ion-col class="bordered-input">
        <ion-row ion-item no-lines>
          <ion-label>Import</ion-label>
          <ion-radio value="Import"></ion-radio>
        </ion-row>
      </ion-col>
      <ion-col class="bordered-input">
        <ion-row ion-item no-lines>
          <ion-label>Export</ion-label>
          <ion-radio value="Export"></ion-radio>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-item class="bordered-input" no-lines *ngIf="shipperName.type == 'Gash'">
      <ion-label>Nombre de la Naviera</ion-label>
      <ion-input formControlName="companyName" type="text" placeholder="Ej: Gash" maxlength="30"></ion-input>
    </ion-item>
    <ion-item class="bordered-input" no-lines>
      <ion-label>Cabezal</ion-label>
      <ion-input formControlName="truck" type="tel" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        placeholder="Ej: 1234" maxlength="20"></ion-input>
      <ion-label class="warning-empty-space" *ngIf="revisionForm.controls.truck.touched && !revisionForm.controls.truck.valid">
        Este campo es requerido
      </ion-label>
    </ion-item>
    <ion-item class="bordered-input" no-lines>
      <ion-label>Prefijo</ion-label>
      <ion-input formControlName="prefix" type="text" placeholder="Ej: CAXU" maxlength="30"></ion-input>
    </ion-item>
    <ion-item class="bordered-input" no-lines>
      <ion-label>Chasis</ion-label>
      <ion-input formControlName="chassis" type="tel" placeholder="Ej: 4533243" maxlength="20"></ion-input>
    </ion-item>
    <ion-item class="bordered-input" no-lines>
      <ion-label class="type">Tipo de Chasis</ion-label>
      <ion-select interface="popover" formControlName="chassisType" multiple="false" value="GASH" placeholder="Seleccione el tipo de chasis">
        <ion-option *ngFor="let chassis of CHASSIS_TYPES">{{ chassis.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="bordered-input" no-lines>
      <ion-label>Transportista</ion-label>
      <ion-input formControlName="driver" type="text" placeholder="Ej: Juan Solano" maxlength="30"></ion-input>
    </ion-item>
    <ion-item class="bordered-input" no-lines>
      <ion-label>Número de Guia</ion-label>
      <ion-input formControlName="guideNumber" type="text" placeholder="Ej: 420123" maxlength="20"></ion-input>
      <ion-label class="warning-empty-space" *ngIf="revisionForm.controls.guideNumber.touched && !revisionForm.controls.guideNumber.valid">
        Este campo es requerido
      </ion-label>
    </ion-item>
    <ion-item class="bordered-input" no-lines>
      <ion-label class="type">Tipo de Contenedor</ion-label>
      <ion-select interface="popover" formControlName="containerType" multiple="false" placeholder="Seleccione el tipo de contenedor">
        <ion-option *ngFor="let container of CONTAINER_TYPES">{{ container.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="bordered-input" no-lines *ngIf="shipperName.type == 'NYK'">
      <ion-label class="type">Medida</ion-label>
      <ion-select interface="popover" formControlName="measure" multiple="false" placeholder="Seleccione la medida">
        <ion-option *ngFor='let measure of MEASURES'>{{ measure.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="app-container" no-lines>
      <ion-label class="title">Marchamo</ion-label>
    </ion-item>
    <ion-row>
      <ion-col class="bordered-input">
        <ion-item no-lines>
          <ion-input formControlName="customsMark1" type="text" placeholder="Marchamo de seguridad 1" maxlength="20"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="bordered-input">
        <ion-item no-lines>
          <ion-input formControlName="customsMark2" type="text" placeholder="Marchamo de seguridad 2" maxlength="20"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="bordered-input">
        <ion-item no-lines>
          <ion-input formControlName="customsMark3" type="text" placeholder="Marchamo de seguridad 3" maxlength="20"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="bordered-input">
        <ion-item no-lines>
          <ion-input formControlName="customsMark4" type="text" placeholder="Marchamo de seguridad 4" maxlength="20"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="bordered-input">
        <ion-item no-lines>
          <ion-input formControlName="customsMark5" type="text" placeholder="Marchamo de seguridad 5" maxlength="20"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="bordered-input">
        <ion-item no-lines>
          <ion-input formControlName="customsMark6" type="text" placeholder="Marchamo de seguridad 6" maxlength="20"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item class="bordered-input" no-lines *ngIf="shipperName.type != 'NYK'">
      <ion-label class="type">Medida</ion-label>
      <ion-select interface="popover" formControlName="measure" multiple="false" placeholder="Seleccione la medida">
        <ion-option *ngFor='let measure of MEASURES'>{{ measure.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="bordered-input" no-lines>
      <ion-label class="type">Origen</ion-label>
      <ion-select interface="popover" formControlName="origin" multiple="false" [ngModel]="defaultOrigin" placeholder="Seleccione el origen">
        <ion-option *ngFor="let origin of ORIGINS">{{ origin.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="bordered-input" no-lines>
      <ion-label class="type">Destino</ion-label>
      <ion-select interface="popover" formControlName="destiny" multiple="false" placeholder="Seleccione el destino">
        <ion-option *ngFor="let destiny of DESTINATIONS">{{ destiny.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="app-container" no-lines *ngIf="shipperName.type == 'Evergreen'">
      <ion-label>Detalles del Viaje</ion-label>
    </ion-item>
    <ion-item class="bordered-input" no-lines *ngIf="shipperName.type == 'Evergreen'">
      <ion-label>Nombre del Barco</ion-label>
      <ion-input class="form-control" formControlName="boatName" type="text" placeholder="Ej: V.Chaser" maxlength="30"></ion-input>
    </ion-item>
    <ion-item class="bordered-input" no-lines *ngIf="shipperName.type == 'Evergreen'">
      <ion-label>Número del Viaje</ion-label>
      <ion-input class="form-control" formControlName="travelNumber" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        placeholder="Ej: 622" maxlength="25"></ion-input>
    </ion-item>
    <ion-item class="app-container" no-lines>
      <ion-label>Detalles del Chasis</ion-label>
    </ion-item>
    <ion-item class="bordered-input" no-lines>
      <ion-label>GenSet</ion-label>
      <ion-checkbox class="common-checkbox" formControlName="genSet"></ion-checkbox>
    </ion-item>
    <ion-list *ngIf="revisionForm.value.genSet">
      <ion-item class="bordered-input" *ngFor="let chassisDetail of revisionForm.controls.chassisDetail.value" no-lines>
        <ion-label>{{ chassisDetail.name }}</ion-label>
        <ion-checkbox class="common-checkbox" [(ngModel)]="chassisDetail.model" [ngModelOptions]="{standalone: true}"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-item class="app-container" no-lines>
      <ion-label class="subtitle">Detalles de Llantas</ion-label>
    </ion-item>
    <ion-item class="bordered-input" no-lines>
      <ion-label class="type">Estado</ion-label>
      <ion-select interface="popover" formControlName="tiresCondition" multiple="false" placeholder="Seleccione el estado de las llantas">
        <ion-option *ngFor="let tiresCondition of TIRES_CONDITIONS">{{ tiresCondition.name }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="app-container" no-lines>
      <ion-label class="title">Marchamos</ion-label>
    </ion-item>
    <ion-row>
      <ion-col class="bordered-input">
        <ion-item no-lines>
          <ion-input formControlName="tire1" type="text" placeholder="Llanta 1" maxlength="20"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="bordered-input">
        <ion-item no-lines>
          <ion-input formControlName="tire2" type="text" placeholder="Llanta 2" maxlength="20"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="bordered-input">
        <ion-item no-lines>
          <ion-input formControlName="tire3" type="text" placeholder="Llanta 3" maxlength="20"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="bordered-input">
        <ion-item no-lines>
          <ion-input formControlName="tire4" type="text" placeholder="Llanta 4" maxlength="20"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="bordered-input">
        <ion-item no-lines>
          <ion-input formControlName="tire5" type="text" placeholder="Llanta 5" maxlength="20"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="bordered-input">
        <ion-item no-lines>
          <ion-input formControlName="tire6" type="text" placeholder="Llanta 6" maxlength="20"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-list *ngIf="shipperName.type == 'Gash'">
      <ion-item class="app-container" no-lines>
        <ion-label>Entrada y salida de partes</ion-label>
      </ion-item>
      <ion-row>
        <ion-col class="app-container">
          <ion-label class="title">Parte</ion-label>
        </ion-col>
        <ion-col class="app-container" tappable (click)="selectAllInParts()">
          <ion-label class="title">Entrada</ion-label>
        </ion-col>
        <ion-col class="app-container" tappable (click)="selectAllOutParts()">
          <ion-label class="title">Salida</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let part of revisionForm.controls.part.value">
        <ion-col class="bordered-input">
          <ion-label class="">{{ part.name }}</ion-label>
        </ion-col>
        <ion-col class="app-checkbox-container">
          <ion-checkbox class="checkbox" [(ngModel)]="part.in" [ngModelOptions]="{standalone: true}"></ion-checkbox>
        </ion-col>
        <ion-col class="app-checkbox-container">
          <ion-checkbox class="checkbox" [(ngModel)]="part.out" [ngModelOptions]="{standalone: true}"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-item class="app-container" no-lines>
      <ion-label>Observaciones</ion-label>
    </ion-item>
    <ion-item no-lines class="bordered-input">
      <ion-textarea formControlName="observations" rows="4" cols="50" placeholder="Escribir aquí..."></ion-textarea>
    </ion-item>
  </form>
</ion-content>