#popover-container {
  .common-button {
    width:90%;
  }

  .common-label {
    padding-top:2px;
    color: black;
    max-width: 11.7em;
    font-weight: bold;
    padding-left: 10px;
  }

  .common-container {
    border-top: thin solid lightgray !important;

    .common-icon {
      font-size: 70px;
    }

    .action-button-icon {
      font-size: 50px;
    }

    .main-label {
      text-align: center;
    }

    .image-col {
      justify-content: center;
      display: contents;
    }

    .remove-image-button {
      width: 20%;
    }
  }

  .common-select {
    right: auto;
    padding: 13px 5px 15px 0px;
    direction: ltr;
    max-width: 100% !important;
  }

  .columns {
    text-align: center;
  }
}