#damage-page {
  #container-view-selection {
    background-color: $gash-title-background;
    text-align: center;
  }
  
  .view-scroll {
    .item {
      border-color: $gash-border-color;
      position: relative;
      z-index: 2;
      display: block;
      margin: 0px;
      padding: 16px;
      border-width: 1px;
      border-style: solid;
      font-size: 16px;
    }
    .image-label-container{
      background-color: $gash-title-background;
    }

    .full-image {
      width: 100%;
    }
  
    .no-margin-chassis-up {
      padding: 10% 1% !important;
    }

    .no-margin-chassis-side {
      padding: 14% 1% !important;
    }
  }
}