@import '../theme/variables.scss';

#login-page {
  background-color: $gash-background;

  #login-container {
    background-color: $gash-background;
    padding-top: 1em;

    .col {
      display: flex;
      justify-content: center;
    }

    .logo-gash-white {
      background: $gash-background;
      contain: initial;
      margin: 0 auto;
      display: table;
      padding: 17% 0 15%;
    }

    .inputs-wrapper {
      padding-top: 1%;

      .username, .password {
        background: $gash-background;
      }

      .icon {
        padding-right: 3px;
        width: 20px;

        .icon-person, .icon-key{
          color: white;
        }
      }

      .input-data {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        background: transparent !important;
        color: white;
        width: 70%;
      }

      .input-data:hover {
        font-weight: bold;
      }
    }

    .sign-in-button-wrapper {
      padding-top: 9%;

      .sign-in-button {
        width: 43vw;
        background-color: $gash-button-red;
      }
    }
  }
}