.pending-revision-header {
  text-align: center;
}

.revision-list-item {
  border: thin solid lightgray !important;
  
  .revision-list-label {
    font-weight: bold;
  }
}

.footer {
  text-align: center;
}

.footer-button {
  width: 80%
}