.bordered {
  border: thin solid lightgray !important;
  font-size: 17px;
}

#footer {
  display: flex;
}

.list-page {
  overflow: hidden;
  margin: 20px 10px;
  border-radius: 2px;
  background-color: white;
}

.button-exit {
  border-color: transparent;
  background-color: $gash-button-red;
  color: #fff;
  width: 100%;
  font-size: 16px;
  border-width: 14px;
  border-style: solid;
  border-radius: 6px;
  margin: 5px;
}

#logo {
  width: 60%;
  height: auto;
  margin: 5% auto;
  display: table;
}

.damage {
  padding: 10px;
}

.table {
 text-align: center;
}

.settings-icon {
  color: white;
  margin-right: 5px;
  zoom: 2;
  float: right;
}

#canvas-report {
  height: 0%;
}