.app-container {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 20px;
  background-color: $gash-title-background;
  font-weight: 500; 
  font-size: 17px;
  border: thin solid lightgray;
  font-weight: bold;
  display: flex;
  
  .title {
    text-align: center;
  }
}

.bordered-input {
  border: thin solid lightgray !important;
  font-size: 17px;

  .warning-empty-space {
    color: red;
  }
}

ion-label {
  color: black;
  width: 70%;
}

.type {
  color: black;
  max-width: 11.3em;
}

.item-select select {
  right: auto;
  padding: 13px 45px 15px 0px;
  direction: ltr;
}

.checkbox-md .checkbox-checked {
  border-color: red;
  background-color: red;
}

.checkbox-md .checkbox-icon {
  border-radius: 45px;
  position: relative;
  width: 24px;
  height: 25px;
  border-width: 2px;
  border-style: solid;
}

.checkbox-md .checkbox-checked .checkbox-inner {
  left: 7px;
  top: 4px;
  position: absolute;
  width: 6px;
  height: 10px;
  border-width: 2px;
  border-top-width: 0;
  border-left-width: 0;
  border-style: solid;
  border-color: white;
}

.radio-md .radio-checked {
  border-color: red;
}

.radio-md .radio-icon {
  left: 0;
  top: 0px;
  margin: 0;
  border-radius: 50%;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: red;
}

.radio-md .radio-inner {
  left: 2px;
  top: 2px;
  border-radius: 50%;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red;
}

.app-checkbox-container {
  border: thin solid rgb(233, 228, 228);
  text-align: center;
  
  .checkbox {
    padding: 8px;
    border-radius: 5rem;
  }
}

.alert-md .alert-button {
  color: red
}

.alert-md [aria-checked=true] .alert-radio-label {
  color: black;
}

.alert-md .alert-radio-inner {
  background-color: red;
}

.alert-md [aria-checked=true] .alert-radio-icon {
  border-color: red;
}