.toolbar-background {
  background-color: black;
}

.navbar-items {
  color: white;

  .col-close-session {

    .icon-close-session {
      font-size: 20pt;
      font-weight: bold;
      margin-left: 15px;
    }
  }

  .col-title {
    .title-name {
      .toolbar-title {
        text-align: center;
        font-size: 17pt;
        color: white;
        font-weight: bold;
      }
    }
  }

  .col-pending-revisions {
    .icon-pending-revisions {
      float: right;
      font-size: 20pt;
      color: white;
      margin-right: 15px;
      font-weight: bold;
    }
  }
}

#shipper {
  background-color: white;
  text-align: center;
  border-color: black;
}

.radio-button {
  .radio-icon {
    color: $gash-button-red;
  }
}

.alert-md .alert-title {
  font-size: 19px;
}

#revision-page {
  #tabs {
    .tabbar {
      background: $gash-background;

      .tab-button-text {
        color: white;
      }
    }
    
    .tab-button {
      min-width: 50%;
    }

    .tab-button[aria-selected=true] {
      background-color: $gash-button-red;
    }
  }
}

#footer-contaner-buttons {
  #save-revision-button, #preview-page {
    background-color: $gash-background;
  }

  #add-revision-pending {
    background-color: $gash-button-red;
  }
}

.alert-custom-css {

  .alert-button-group {
    justify-content: center !important;
  }

  .button-inner {
    justify-content: center;
    display: inherit;
  }
  
  .alert-button {
    text-align: center;
    color: white !important;
    background-color: $gash-button-red !important;
    width: 45%;
  }
}