#damage-list {
  background-color: black;

  .label-name {
    background-color: black;
    color: white;
    font-size: 12pt;
    font-weight: bold;
  }

  .selected-damage {
    background-color: black;
    color: white;
  }
}

#wrapper {

  .primary-container {
    padding: 10px;
    font-size: 20px;
    border: thin solid lightgray;
    font-weight: bold;
    display: flex;
    background-color: $container-background;

    .damage-list-label {
      text-align: left;
    }
  }

  .color-block {
    height: 40px;
  }

  .damage-container {
    border: thin solid lightgray;
    padding: 10px;
  }

  .damage-label {
    font-size: 20px;
    padding: 10px;
  }

  .damage-button {
    text-align: right;
  }

  .damage-icon {
    font-size: 70px;
  }
}

#damage-selection-footer {
  .footer-background {
    background-color: white;
  }

  .footer-button-container {
    text-align: center;

    .footer-button {
      width: 90%;
      color: light;
    }
  }
}

.row {
  display: flex;
}

.canvas {
  align-content: center;
  position: inherit;
}
