<ion-header class="pending-revision-header">
  <ion-label>Revisiones Pendientes</ion-label>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-row class="revision-list-item" tappable (click)="selectRevision(revision)" *ngFor="let revision of pendingRevisions">
      <ion-col>
        <ion-item no-lines class="revision-list-label">Número de Cabezal</ion-item>
      </ion-col>
      <ion-col>
        <ion-item no-lines>{{ revision.truck }}</ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
<ion-footer class="footer">
  <button ion-button color="danger" class="footer-button" (click)="closePendingRevisionsModal()">Cancelar</button>
</ion-footer>