<ion-content id="damage-page">
  <ion-item class="row" id="container-view-selection" no-lines>
    <div class="col">
      <h4>Seleccione una vista para manejar los daños</h4>
    </div>
  </ion-item>
  <ion-grid class="view-scroll">
    <ion-row class="row responsive-sm" *ngIf="shipperName.type != 'Evergreen'">
      <ion-col class="col padding">
        <ion-list class="list" tappable (click)="damageSelection('Izquierda', '../assets/imgs/damage/left.png', 'left_side')">
          <li class="item item-divider item-icon-right image-label-container">
            Izquierda
            <i class="icon ion-android-add-circle balanced"></i>
          </li>
          <img src="../assets/imgs/damage/left.png" class="full-image item" alt="Lado Izquierdo">
        </ion-list>
      </ion-col>
      <ion-col class="col padding">
        <ion-list class="list" tappable (click)="damageSelection('Interior', '../assets/imgs/damage/inside.png', 'inside')">
          <li class="item item-divider item-icon-right image-label-container">
            Interior
            <i class="icon ion-android-add-circle balanced"></i>
          </li>
          <img src="../assets/imgs/damage/inside.png" class="full-image item" alt="Interior">
        </ion-list>
      </ion-col>
      <ion-col class="col padding">
        <ion-list class="list" tappable (click)="damageSelection('Derecha', '../assets/imgs/damage/right.png', 'right_side')">
          <li class="item item-divider item-icon-right image-label-container">
            Derecha
            <i class="icon ion-android-add-circle balanced"></i>
          </li>
          <img src="../assets/imgs/damage/right.png" class="full-image item" alt="Lado Derecho">
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="shipperName.type == 'Evergreen'">
      <ion-row class="row responsive-sm">
        <ion-col class="col padding">
          <ion-list class="list" tappable (click)="damageSelection('Izquierda', '../assets/imgs/damage/left_evergreen.png', 'left_evergreen')">
            <li class="item item-divider item-icon-right image-label-container">
              Izquierda
              <i class="icon ion-android-add-circle balanced"></i>
            </li>
            <img src="../assets/imgs/damage/left_evergreen.png" class="full-image item" alt="Izquierda">
          </ion-list>
        </ion-col>
        <ion-col class="col padding">
          <ion-list class="list" tappable (click)="damageSelection('Interior', '../assets/imgs/damage/inside_evergreen.png', 'inside_evergreen')">
            <li class="item item-divider item-icon-right image-label-container">
              Interior
              <i class="icon ion-android-add-circle balanced"></i>
            </li>
            <img src="../assets/imgs/damage/inside_evergreen.png" class="full-image item" alt="Interior">
          </ion-list>
        </ion-col>
        <ion-col class="col padding">
          <ion-list class="list" tappable (click)="damageSelection('Derecha', '../assets/imgs/damage/right_evergreen.png', 'right_evergreen')">
            <li class="item item-divider item-icon-right image-label-container">
              Derecha
              <i class="icon ion-android-add-circle balanced"></i>
            </li>
            <img src="../assets/imgs/damage/right_evergreen.png" class="full-image item" alt="Derecha">
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-row>
    <ion-row class="row responsive-sm">
      <ion-col class="col padding" *ngIf="shipperName.type != 'NYK'">
        <ion-list class="list" tappable (click)="damageSelection('Chasis - Frente', '../assets/imgs/no_margin/chassis_front.png', 'chassis_front')">
          <li class="item item-divider item-icon-right image-label-container">
            Chasis - Frente
            <i class="icon ion-android-add-circle balanced"></i>
          </li>
          <img src="../assets/imgs/damage/chassis_front.png" class="full-image item" alt="Chasis - Frente">
        </ion-list>
      </ion-col>
      <ion-col class="col padding" *ngIf="shipperName.type != 'NYK'">
        <ion-list class="list" tappable (click)="damageSelection('Chasis - Atrás', '../assets/imgs/no_margin/chassis_back.png', 'chassis_back')">
          <li class="item item-divider item-icon-right image-label-container">
            Chasis - Atrás
            <i class="icon ion-android-add-circle balanced"></i>
          </li>
          <img src="../assets/imgs/damage/chassis_back.png" class="full-image item" alt="Chasis - Atrás">
        </ion-list>
      </ion-col>
      <ion-col class="col padding" *ngIf="shipperName.type != 'Evergreen'">
        <ion-list class="list" tappable (click)="damageSelection('Techo', '../assets/imgs/no_margin/roof.png', 'roof')">
          <li class="item item-divider item-icon-right image-label-container">
            Techo
            <i class="icon ion-android-add-circle balanced"></i>
          </li>
          <img src="../assets/imgs/damage/roof.png" class="full-image item" alt="Techo">
        </ion-list>
      </ion-col>
      <ion-col class="col padding" *ngIf="shipperName.type == 'NYK'">
        <ion-list class="list" tappable (click)="damageSelection('Piso', '../assets/imgs/no_margin/floor.png', 'floor')">
          <li class="item item-divider item-icon-right image-label-container">
            Piso
            <i class="icon ion-android-add-circle balanced"></i>
          </li>
          <img src="../assets/imgs/damage/floor.png" class="full-image item" alt="Piso">
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="row responsive-sm">
      <ion-col class="col padding" *ngIf="shipperName.type != 'NYK'">
        <ion-list class="list" tappable (click)="damageSelection('Chasis - Arriba', '../assets/imgs/no_margin/chassis_up.png', 'chassis_up')">
          <li class="item item-divider item-icon-right image-label-container">
            Chasis - Arriba
            <i class="icon ion-android-add-circle balanced"></i>
          </li>
          <img src="../assets/imgs/no_margin/chassis_up.png" class="full-image item no-margin-chassis-up" alt="Chasis - Arriba">
        </ion-list>
      </ion-col>
      <ion-col *ngIf="shipperName.type != 'NYK'">
        <ion-list class="list" tappable (click)="damageSelection('Chasis - Costado', '../assets/imgs/no_margin/chassis_side.png', 'chassis_side')">
          <li class="item item-divider item-icon-right image-label-container">
            Chasis - Costado
            <i class="icon ion-android-add-circle balanced"></i>
          </li>
          <img src="../assets/imgs/no_margin/chassis_side.png" class=" full-image item  no-margin-chassis-side" alt="Chasis - Costado">
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="row responsive-sm damages-margin">
      <ion-col class="col-33 padding" *ngIf="shipperName.type != 'Evergreen'">
        <ion-list class="list" tappable (click)="damageSelection('Frente', '../assets/imgs/damage/front.png', 'front')">
          <li class="item item-divider item-icon-right image-label-container">
            Frente
            <i class="icon ion-android-add-circle balanced"></i>
          </li>
          <img src="../assets/imgs/damage/front.png" class="full-image item" alt="Frente">
        </ion-list>
      </ion-col>
      <ion-col class="col-33 padding" *ngIf="shipperName.type != 'Evergreen'">
        <ion-list class="list" tappable (click)="damageSelection('Atrás', '../assets/imgs/damage/back.png', 'back')">
          <li class="item item-divider item-icon-right image-label-container">
            Atrás
            <i class="icon ion-android-add-circle balanced"></i>
          </li>
          <img src="../assets/imgs/damage/back.png" class="full-image item" alt="Atrás">
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>