<ion-content id="popover-container">
  <ion-row align-items-center class="common-container">
    <ion-item no-lines>
      <ion-label class="main-label">Agregar Imagen</ion-label>
    </ion-item>
  </ion-row>
  <ion-row align-items-center class="common-container" *ngIf="damage.image_ref">
    <ion-item no-lines>
      <img [src]="getImgContent()" />
    </ion-item>
  </ion-row>
  <ion-row align-items-center class="common-container" *ngIf="damage.image_ref">
    <ion-col class="image-col">
      <ion-label class="common-label">Fotografía existente. </ion-label>
      <button ion-button class="remove-image-button" (click)="removeImage()" color="danger">
        <ion-icon name="close" class="action-button-icon"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-row align-items-center class="common-container" *ngIf="!damage.image_ref">
    <ion-col class="columns">
      <ion-icon name="camera" class="common-icon"></ion-icon>
    </ion-col>
    <ion-col class="columns">
      <button ion-button class="photo-button" color="light" (click)="takePicture()">Tomar foto</button>
    </ion-col>
  </ion-row>
  <ion-row align-items-center class="common-container">
    <ion-col>
      <button ion-button class="common-button" (click)="close()" color="danger">
        <ion-icon name="close" class="action-button-icon"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button class="common-button" (click)="addDamage()" color="danger">
        <ion-icon name="checkmark" class="action-button-icon"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-content>