<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-icon *ngIf="canPrintReport" class="settings-icon" name="settings" tappable (click)="setPrinterIpAddress()"></ion-icon>
  </ion-navbar>
</ion-header>
<ion-content>
  <img id="logo" src="../assets/imgs/logo-gash-black.png">
  <canvas id="canvas-report"></canvas>
  <ion-list class="list-page">
    <ion-item class="bordered" no-lines>
      <strong>Fecha y Hora:</strong> {{timestamp | date:'dd/MM/yy h:mm a'}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Entrada/Salida:</strong> {{revisionForm.controls.shippingDetail.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Contenedor:</strong> {{revisionForm.controls.containerCode.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Tipo de Contenedor:</strong> {{revisionForm.controls.containerType.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Marchamo 1:</strong> {{revisionForm.controls.customsMark1.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Marchamo 2:</strong> {{revisionForm.controls.customsMark2.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Marchamo 3:</strong> {{revisionForm.controls.customsMark3.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Marchamo 4:</strong> {{revisionForm.controls.customsMark4.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Marchamo 5:</strong> {{revisionForm.controls.customsMark5.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Marchamo 6:</strong> {{revisionForm.controls.customsMark6.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Naviera:</strong> {{revisionForm.controls.companyName.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Medida:</strong> {{revisionForm.controls.measure.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Predio Origen:</strong> {{revisionForm.controls.origin.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Guía:</strong> {{revisionForm.controls.guideNumber.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Predio Destino:</strong> {{revisionForm.controls.destiny.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Cabezal:</strong> {{revisionForm.controls.truck.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Conductor:</strong> {{revisionForm.controls.driver.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Chasis:</strong> {{revisionForm.controls.chassis.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Tipo de Chasis:</strong> {{revisionForm.controls.chassisType.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong>Observaciones:</strong> {{revisionForm.controls.observations.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong> M D #1/2: </strong> {{revisionForm.controls.tire1.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong> M D #3/4: </strong> {{revisionForm.controls.tire2.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong> M D #5/6: </strong> {{revisionForm.controls.tire3.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong> M I #1/2: </strong> {{revisionForm.controls.tire4.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong> M I #3/4: </strong> {{revisionForm.controls.tire5.value}}
    </ion-item>
    <ion-item class="bordered" no-lines>
      <strong> M I #5/6: </strong> {{revisionForm.controls.tire6.value}}
    </ion-item>
    <ion-list *ngIf="shipperName == 'Gash'">
      <ion-row>
        <ion-col class="bordered">
          <ion-label class="table">Parte</ion-label>
        </ion-col>
        <ion-col class="bordered">
          <ion-label class="table">Entrada</ion-label>
        </ion-col>
        <ion-col class="bordered">
          <ion-label class="table">Salida</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let part of PARTS">
        <ion-col class="bordered">
          <ion-label class="">{{part.name}}</ion-label>
        </ion-col>
        <ion-col class="app-checkbox-container">
          <ion-label *ngIf="part.in == true">si</ion-label>
          <ion-label *ngIf="part.in == false">no</ion-label>
        </ion-col>
        <ion-col class="app-checkbox-container">
          <ion-label *ngIf="part.out == true">si</ion-label>
          <ion-label *ngIf="part.out == false">no</ion-label>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-list>
  <ion-item class="bordered" no-lines>
    <ion-label><strong>Daños</strong></ion-label>
  </ion-item>
  <ion-row *ngFor="let selectedDamage of containerDamages">
    <ion-col class="bordered">
      <ion-label class="damage">{{ selectedDamage.damagedContainer }} - {{ selectedDamage.damage.name }}</ion-label>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer id="footer">
  <button *ngIf="canPrintReport" class="button-exit" (click)="printReport()">Imprimir</button>
  <button class="button-exit" (click)="exitPreview()">Salir</button>
</ion-footer>